{% extends "app/base.html" %}
{% load static %}
{% block title %}Detaje{% endblock title %}

{% block main-content %}
<div class="container marketing">
<div class="row featurette m-3 p-3">
    <div class="col-md-5 order-md-2 mt-2">
      <h2 class="featurette-heading text-success">{{ product.name }}</h2>
       {% if product.discount_price %}
        <p class="card-text">
            <span class="text-decoration-line-through">Lek {{ product.price }}</span>
            <span class="text-success">Lek {{ product.discount_price }}</span>
        </p>
        {% else %}
            <p class="card-text">Cmimi: Lek {{ product.price }}</p>
        {% endif %}
        <hr>
      <p class="lead">{{product.description}}</p>
      <div class="d-grid gap-2 mx-auto">
        <button class="btn btn-outline-primary" type="button">Shto ne karte</button>
        <button class="btn btn-outline-success" type="button">Bli tani</button>
      </div>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="{{ product.image.url }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="{{product.name}}">
    </div>
  </div>
</div>
{% endblock main-content %}
